<div class="container mt-5">
  <h1 class="text-center mb-4">
    <i class="fa-solid fa-list-check"></i> Mes Tâches
  </h1>
  <h5 class="text-muted text-center">Gérez vos tâches facilement</h5>

<ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
          <div>
            <%= form_with model: task, url: task_path(task), method: :patch, local: true, class: "d-inline" do |f| %>
              <%= f.check_box :completed, class: "form-check-input me-2", onchange: "this.form.submit();" %>
            <% end %>
          </div>
          <div>
          <%= link_to task.title, task_path(task), class: "list-group-item-action text-decoration-none #{'fw-bold text-success' if task.completed}" %>
        </div>
        </div>
      <div class="d-flex">
          <%= link_to edit_task_path(task), class: "text-primary me-3", title: "Modifier" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>

          <%= link_to task_path(task), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vraiment supprimer cette tâche ?" }, class: "text-danger", title: "Supprimer" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
    </li>

  <% end %>
</ul>

<div class="text-center mt-4">
    <%= link_to "➕ Nouvelle Tâche", new_task_path, class: "btn btn-primary" %>
  </div>

</div>
